* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: 'Heebo', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
.landing {
    min-height: 100vh;
    background: url(./images/tickets1.png);
    background-size: cover;
    padding: 3rem 5rem;
    color: black;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links {
    display: flex;
    list-style: none;    
}
.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;  
}
.nav-links div {      
    cursor: pointer;
}
#logo {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 2rem;
}
.big-text {
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -42%);
    font-weight: lighter;
    font-size: 6rem;
    color: black;
}
.big-text-box {
    background-color: transparent;
    border: 10px solid black;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -42%);
    width: 40rem;
    height: 10rem;
}
.big-text-box-layer {
    opacity: 0.77;
}
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    color: #C6563B;
    font-family: 'Heebo', sans-serif;
    font-size: 2.5rem;
}
.slider {
    background: #612a1d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}
.home-button {
    background-color:#d37b66;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -30%);
    border-radius: 30px;
    border: 2px solid #612a1d;
    cursor: pointer;
}
.home-button2 {
    background-color:#d37b66;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 30px;
    border: 2px solid #612a1d;
    cursor: pointer;
}
footer {
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.footer-link {
    color: #C6563B;
    text-decoration: none;
}
.footer-background {
    background-color:black;
    opacity: 0.95;
    position: absolute;
    top: 49.5%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50.5%);
    width: 60rem;
    height: 2.5rem;
}
#earn_balance {
    font-family: 'Heebo', sans-serif;
}
.back-button {
    background-color:#d37b66;
    color: white;
    padding: 5px 10.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-85%, -85%);
    border-radius: 10px;
    border: 2px solid #612a1d;
    cursor: pointer;
}
/*Price tables*/
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}
.price li {
    border-bottom: 1px solid #eee;
    padding: 25px;
    text-align: center;
}
.price .grey {
    background-color: #eee;
    font-size: 25px;
}
.button {
    background-color: #d37b66;
    border: none;
    color: white;
    padding: 5px 12.5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}  
@media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}
/*End price tables*/

/* Popup form */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container .btn {
  background-color: #d37b66;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/*End popup form*/